* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 40px;
    background-color: dodgerblue;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.product_info {
    text-align: center;
}

.product_name {
    font-size: 30px;
    font-weight: 700;

}

.product_price {
    font-size: 20px;
    font-weight: 600;
    color: gray;
    margin-top: 20px;
}

.product_description {
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.order_label {
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}

input {
    padding: 5px;
    margin-right: 20px;
}
.order_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.order_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order_btn {
    all: unset;
    padding: 10px;
    background-color: dodgerblue;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

.order_btn:hover {
    background-color: yellowgreen;
}

.registerday {
    margin-bottom: 10px;
}