{% extends "base.html" %}
{% load humanize %}
{%block head %}
<link rel="stylesheet" href="/static/detail.css">
{% endblock %}
{% block contents %}
<header>sangjuntech Ecommerce</header>
<div class="container">

    <div class="product_info">
        <div class="product_name">{{product.name}}</div>
        <div class="product_price">{{product.price|intcomma}} won </div>
        <div class="product_description">제품설명: {{product.description}}</div>
        <div class="registerday">등록일자: {{ product.register_date|date:'Y-m-d H:i' }}</div>
        <a href="/product/">상품목록으로</a>
        <div class="order_box">
            <form class="order_form" method="POST", action='/order/create'>
                {% csrf_token %}
                {% for field in form %}
                {% ifnotequal field.name 'product' %}
                <label class="order_label "for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endifnotequal %}
                <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}"
                    placeholder="{{ field.label }}" name="{{ field.name }}" 
                    value="{% ifequal field.name 'product' %}{{product.id}}{% endifequal %}"/>
                {% if field.errors %}
                <span> {{ field.errors }} </span>
                {% endif %}
                {% endfor %}
                <button class="order_btn" type="submit">주문하기</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}