{% extends "base.html" %}
{%block head %}
<link rel="stylesheet" href="/static/register_product.css">
{% endblock %}
{% block contents %}
<div class="container">
    <h1>상품등록</h1>
    <h4>sangjuntechs</h4>
    {{ error }}
    <form class="contents_form" method='POST' action=".">
        {% csrf_token %}
        {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% ifequal field.name 'description' %}
        <textarea name="{{ field.name }}" id="{{field.id_for_label}}"></textarea>

        {% else %}
        <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" placeholder="{{ field.label }}"
            name="{{ field.name }}" />
        {% endifequal %}
        {% if field.errors %}
        <span> {{ field.errors }} </span>
        {% endif %}
        {% endfor %}
        <button class='btn'type="submit">등록</button>
    </form>
</div>



{% endblock %}