{% extends "base.html" %}
{%block head %}
<link rel="stylesheet" href="/static/login.css">
{% endblock %}
{% block contents %}
<div class="sign-up-form">
<h1>LOGIN</h1>
<h4>sangjuntech ecommerce</h2>

{{ error }}
<form method='POST' action=".">
    {% csrf_token %}
    {% for field in form %}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}"
    placeholder="{{ field.label }}" name="{{ field.name }}"/>
    {% if field.errors %}
    <span> {{ field.errors }} </span>
    {% endif %}
    {% endfor %}
    <button type="submit">로그인</button>
    <a href="/register">계정이 없으신가요?</a>

</form>
</div>
{% endblock %}